@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body,
html {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --background: 54 100% 97%; /* #fefef0 */
    --foreground: 18 63% 3%; /* #0e0704 */
    --card: 54 100% 97%; /* #fefef0 */
    --card-foreground: 18 63% 3%; /* #0e0704 */
    --popover: 54 100% 97%;
    --popover-foreground: 18 63% 3%;
    --primary: 9 78% 43%; /* #d6300c */
    --primary-foreground: 54 100% 97%;
    --secondary: 27 39% 68%; /* #cea68b */
    --secondary-foreground: 9 78% 43%;
    --muted: 27 39% 68%;
    --muted-foreground: 0 0% 100%;
    --accent: 27 39% 68%;
    --accent-foreground: 9 78% 43%;
    --destructive: 27 39% 68%;
    --destructive-foreground: 54 100% 97%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 18 63% 3%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}